<div class="team" id="team">
    <div class="container">
        <div class="section-header text-center">
            <%# <p>Meet Our Team</p> %>
            <h2>Meet Our Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263867&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "team-1.jpeg" %>
                    </div>
                    <div class="team-text">
                        <h2>Vivek Lanka</h2>
                        <p>Right-arm fast Bowler</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263863&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "team-2.jpeg" %>
                    </div>
                    <div class="team-text">
                        <h2>Nilesh Agalave</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

              <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263866&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>MADHURENDRA SINGH</h2>
                        <p>Right-arm fast Bowler</p>                        
                        <span>SCF Stats</span>                   
                       
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
               <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263873&clubId=8318" target="_blank">
               <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "team-3.jpeg" %>
                    </div>
                    <div class="team-text">
                        <h2>HARKAMAL SINGH</h2>
                        <p>Right-handed Batsman</p>
                        <span>SCF Stats</span>                  
                    </div>
                </div>
                </a> 
            </div>

             <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263882&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>MUHAMMAD AKRAM</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263875&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "team-5.jpg" %>
                    </div>
                    <div class="team-text">
                        <h2>VISHAL PADWAL</h2>
                        <p>Right-handed Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>


            <div class="col-lg-3 col-md-6">
               <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263864&clubId=8318" target="_blank">
               <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SACHIN SALVE</h2>
                        <p>All Rounder </p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263869&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SUHAS DAREKAR</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263865&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>KUNAL DAS MAHAPATRA</h2>
                        <p>Slow Right-arm Bowler</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
               <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2232827&clubId=8318" target="_blank">
               <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>NISHCHAY SHARMA</h2>
                        <p>Left-arm Fast Bowler</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1276686&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>RAVI KUMAR</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263880&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SAMPATH NARAYANAN</h2>
                        <p>Wicker-keeper Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263862&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>DEEPAK DASH</h2>
                        <p>Wicker-keeper Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2118663&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>RAJNIKANT RAMAN</h2>
                        <p>Right-handed Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2143436&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SANJAYKUMAR BODDUL</h2>
                        <p>Right-arm fast Bowler</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263870&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SATYENDRA KUMAR</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2118664&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SHAREQ NAZIR</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263881&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SULMAN SHAFEEQ</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2290425&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>SURENDRANATH ADDAGAD</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2143434&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>VEERAMOHAN VEERAPAND</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=1263861&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>VIVEK SHARMA</h2>
                        <p>Wicker-keeper Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewPlayer.do?playerId=2143435&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>CHETAN GOKHALE</h2>
                        <p>Right-handed Batsman</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="https://cricclubs.com/SCFLeague/viewTeam.do?teamId=2263&clubId=8318" target="_blank">
                <div class="team-item">
                    <div class="team-img">
                        <%= image_tag "user.png" %>
                    </div>
                    <div class="team-text">
                        <h2>Parveen</h2>
                        <p>All Rounder</p>
                        <span>SCF Stats</span>
                    </div>
                </div>
                </a>
            </div>

        </div>
    </div>
</div>